{% extends "avatar/base_site.html" %}
{% load i18n avatar_tags %}

{% block content_title %}<h1>{% trans "Change current avatar" %}</h1>{% endblock %}

{% block content %}
    <fieldset class="grp-module">
        <div class="grp-row grp-cells-1">
            <div class="avatar-image-box">
                <strong>{% trans "Current avatar: " %}</strong> <br>
                {% avatar user %}
            </div>
        </div>
        <div class="grp-row grp-cells-1">
            {% if not avatars %}
                <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
            {% else %}
                <form method="POST" action="{% url 'avatar_change' %}">
                    <ul>
                        {{ primary_avatar_form.as_ul }}
                    </ul>
                    <p>{% csrf_token %}<input type="submit" value="{% trans "Choose new Default" %}" /></p>
                </form>
                <p><a href="{% url 'avatar_delete' %}">{% trans 'Click here if you want to delete items form list' %}</a></p>
            {% endif %}
        </div>
        <div class="grp-row grp-cells-1">
            <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                {{ upload_avatar_form.as_p }}
                <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" /></p>
            </form>
        </div>
    </fieldset>
{% endblock %}
