Django==1.8.9
django-grappelli==2.7.2
django-modeltranslation==0.11
django-debug-toolbar==1.4.0
django-debug-panel==0.8.2
django-extensions==1.6.1
django-reversion==1.10.1
Pillow==2.7.0
psycopg2==2.6
django-avatar==2.2.1
#git+https://github.com/tbabej/django-avatar.git@4d8de28e658d35c419d0521c80346c7ede86f457#egg=django-avatar
dj-database-url==0.4.0
dj-static==0.0.6
gunicorn==18.0
django-filter==0.12.0
django-object-actions==0.7.0
whitenoise==1.0.6
django-mptt==0.8.0
Fabric==1.10.2
boto==2.39.0
django-storages==1.4
YURL==0.13
beautifulsoup4==4.4.1
