{% extends 'minimax/frontend/page.html' %}

{% block body_class %}page-people-akademie{% endblock %}

{#{% block slider %}#}
{#    {% if page.header_title %}#}
{#        <div class="slider">#}
{#            <div class="slider-left-boxes">#}
{#                <span class="red-box"></span>#}
{#            </div>#}
{#            <div class="slider-right-boxes"></div>#}
{#            <div class="slides">#}
{#                <div class="slide">#}
{#                    <div class="content-wrapper">#}
{#                        <div class="row">#}
{#                            <div class="col-md-12">#}
{#                                <div class="slide-caption">#}
{#                                    <h2>{{ page.header_title }}</h2>#}
{#                                    {{ page.header_caption|safe }}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endblock slider %}#}
